# Database Configuration
# Note: Using postgresql+psycopg:// for psycopg3 compatibility with Python 3.12
DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/fulfil_shiphero_mediator

# CORS Configuration
CORS_ORIGINS=http://localhost:3000,http://localhost:3001

# Secret Key
SECRET_KEY=MCmrWFQmTqiM1srp9U2H9kLBk7mVbRd0

# App Port
APP_PORT=5000